nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     
     margin-left: 2rem;
     border-bottom: 2px solid #3f3f3f;
     position: sticky;
     z-index: 2;
     top: 0;
     background-color: #8D77FE;
     

}

input{
     padding: 12px 20px;
     border: none;
     outline: none;
     background: #f7f6f6;
     margin-right: 20px;
     border-radius: 5px;
     position: relative;
     width: 14rem;
     
}
.nav-icons{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    transition: ease-in-out 0.4s;
}



.nav-icons:hover{
     background-color:#FC7000;
     border-radius: 50%;
     width: 2rem;
     height: 2rem;
}
